<h2>Lista Productos</h2>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
        <th>Nombre </th>
        <th>Descripcion</th>
        <th>Estado</th>
        <th>Nombre del Laboratorio</th>
        <th>Nombre del Producto</th>
        <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
     <tr *ngFor="let produto of productos">
        <td>{{produto.idProducto}}</td>
        <td>{{produto.descripcion}}</td>
        <td>{{produto.estado}}</td>
        <td>{{produto.nombreLaboratorio}}</td>
        <td>{{produto.nombreProducto}}</td>
        <td>
          <button (click)= "actualizarProducto(produto.idProducto)" class="btn btn-info">Editar</button>
          <button (click)= "eliminarProducto(produto.idProducto)" class="btn btn-danger" style="margin-left : 10px;">Eliminar</button>
        </td>
     </tr>
  </tbody>
</table>